body {
    background: #e0e0e0;
}
div.bin {
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 800px;
    padding: 5px;
}
h1 {
    display: inline-block;
}
span.sub {
    display: inline-block;
    margin-top: 10px;
    line-height: 1.5;
    padding: 8px 25px;
}

/* Shared for all accordion types */
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:24px;
    line-height:24px;
    background:#ccc;
    border:1px solid #616161;
    color:#000;
    font-weight:bolder;;
    cursor:pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#4CAF50;
    color:#FFF;
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion a {
    color:#616161;
    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #616161; /* We don't want the border to disappear on hover */
}
.vertical ul li .content {
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:200px;
    border:1px solid #616161;
}
