body {
    background: #e0e0e0;
}
div.bin {
    background: white;
    border: 2px solid #d6604d;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 800px;
    padding: 5px;
}
h2 {
    background: #d6604d;
    border-top: 1px solid #fddbc7;
    border-bottom: 1px solid #fddbc7;
    padding: 8px;
}

