/* CSS Properites */
:root {
  --main-bg-color: #1b1b1b;
  --connect-me: #C8AD55;
}

/* Mobile First Design -------------------------------------------------------*/
html, body {
  color: #aaa;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

::selection {
  color: red;
}

a {
  color: #9ebcff;
}

h1 {
  color: #fff;
}

h2 {
  color: #ccc;
}

h2.page-title {
  font-size: xx-large ;
}

.emphasis {
  font-family: Georgia, serif;
  font-weight: bolder;
  color: #999;
  font-style: oblique;
}

/* Sticky-card style scrolling effect */
section, footer {
  display: inline-block;
  padding: 0 1em;
  width: 100%;
}

/* On smaller screens, display centered */
section.navbar {
  align-items: center;
  text-align: center;

  padding: 10px 0;
  border-bottom: 6px solid #000;
}

.navbar object {
  width: 128px;
}

section.hero {
  align-items: center;
  text-align: center;
  background-color: #1b1b1b;
}

.hero ul {
  margin: 1%;
  max-width: 500px;
  z-index: 0;
}

/* Custom Buttons */
.hero li {
  border: 2px solid #333;
  border-radius: 5px;
  background: #5f5f5f;

  width: 146px;
  height: 48px;

  margin: 20px 10px;

  float: none;
  display: inline-block;
}

.hero li a {
  position: relative;
  display: block;
  text-decoration: none;

  width: 146px;
  height: 48px;
  border-radius: 5px;
}

.hero li a:hover {
  background: #3f48cc;
}

.hero li a h2 {
  font: bold 20px/20px sans-serif;
  margin: 0px;
  padding: 5px;
}

.hero li a span {
  font: normal 9px/10px monaco, monospace;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

h2.contact {
  color: #C8AD55;
}

.datacenter object {
  width: 10vw;
  max-width: 100px;
  /* float: none; */
  /* display: inline-block; */
}

p.convincing {
  display: inline-block;
  text-align: left;
  margin: auto 50px 50px 50px;
  color: #3f3f3f;
}

section.content {
  background: #fff;
  color: #0f0f0f;
}

#experience h2{
  padding: 10px 40px;
}

#experience h3{
  padding: 10px 40px;
}

#experience p{
  padding: 10px 40px;
}

.content {
  padding: auto 40px;
}

section.process {
  background: #D2D7DF;
  color: #0f0f0f;
}

section.contact {
  padding: 30px;
  background-color: #1b1b1b;
}

div.about, div.address {
  padding: 15px;
}

footer {
  font-size: 12px;
  text-align: right;
  color: aliceblue;
  padding-top: 50px;
  background-color: #1b1b1b;
}

p.appendix, .appendix a {
  color: #0f0f0f;
  text-decoration: none;
}

/* Larger Displays -------------------------------------------------------*/
@media screen and (min-width: 881px) {
  section.navbar {
    align-items: left;
    text-align: left;
    padding: 0 30px;
    width: 100%;
  }

  .datacenter object {
    float: right;
    position: relative;
    z-index: -1;
  }

  html, body {
    margin: 0 0;
  }

  section, footer {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0px;
    padding: 30px;
  }

}