
body {
  color: #aaa;
  background-color: #1b1b1b;
}

a {
  color: #9ebcff;
}

/* On smaller screens, display centered */
section.navbar {
  align-items: center;
  text-align: center;

  padding: 10px 0;
  margin: 0;
  border-bottom: 6px solid #000;
}

/* Larger screens dislpay upper-left */
@media screen and (min-width: 881px) {
  section.navbar {
    align-items: left;
    text-align: left;
  }
}

.navbar object {
  width: 128px;
}

section.hero {
  max-width: 800px;
  align-items: center;
  text-align: center;
}

.hero ul {
  margin: 30px 30px;
  width: 500px;
}

.hero li {
  border: 2px solid #333;
  border-radius: 5px;

  width: 128px;
  height: 48px;

  margin: 20px;
  float: left;
  padding: 0px;
  display: block;
  background: #5f5f5f;
}

.hero li a {
  position: relative;
  display: block;
  text-decoration: none;

  width: 128px;
  height: 48px;
  border-radius: 5px;
}

.hero li a:hover {
  background: #3f48cc;
}

.hero li a h2 {
  font: bold 20px/20px sans-serif;
  margin: 0px;
}

.hero li a span {
    font: normal 9px/10px monaco, monospace;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

section.content {
  display: inline-block;
}

footer {
  display: block;
  font-size: 12px;
  text-align: right;
  color: aliceblue;
}