
html, body {
  color: #aaa;
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
}

a {
  color: #9ebcff;
}

h1 {
  color: #fff;
}

h2 {
  color: #ccc;
}

h2.page-title {
  font-size: xx-large ;
}

/* Parallax scrolling effect */
section, footer {
  position: sticky;
  top: 0px;
  width: 100vw;
  display: inline-block;
}

/* On smaller screens, display centered */
section.navbar {
  align-items: center;
  text-align: center;

  padding: 10px 0;
  border-bottom: 6px solid #000;
}

/* Larger screens dislpay upper-left */
@media screen and (min-width: 881px) {
  section.navbar {
    align-items: left;
    text-align: left;
  }

  .datacenter img {
    float: right;
    position: relative;
    z-index: -1;
  }
}

.navbar object {
  width: 128px;
}

section.hero {
  align-items: center;
  text-align: center;
}

.hero ul {
  margin: 1%;
  max-width: 500px;
  z-index: 0;
}

/* Custom Buttons */
.hero li {
  border: 2px solid #333;
  border-radius: 5px;
  background: #5f5f5f;

  width: 146px;
  height: 48px;

  margin: 20px;

  float: none;
  display: inline-block;
}

.hero li a {
  position: relative;
  display: block;
  text-decoration: none;

  width: 146px;
  height: 48px;
  border-radius: 5px;
}

.hero li a:hover {
  background: #3f48cc;
}

.hero li a h2 {
  font: bold 20px/20px sans-serif;
  margin: 0px;
}

.hero li a span {
  font: normal 9px/10px monaco, monospace;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

h2.contact {
  color: #C8AD55;
}

.datacenter img {
  width: 10vw;
  max-width: 100px;
  /* float: none; */
  /* display: inline-block; */
}

p.convincing {
  display: inline-block;
  text-align: left;
  margin: auto 50px 50px 50px;
  color: #3f3f3f;
}

section.content {
  background: #fff;
  color: #0f0f0f;
}

section.process {
  background: #D2D7DF;
  color: #0f0f0f;
}

section.contact {
  background-color: #1b1b1b;
}

footer {
  font-size: 12px;
  text-align: right;
  color: aliceblue;
  margin-top: 50px;
  background-color: #1b1b1b;
}

p.appendix, .appendix a {
  color: #0f0f0f;
  text-decoration: none;
}

/* Control the layering of parallax views */
section.navbar {z-index: 0;}
section.hero {z-index: 1; background-color: #1b1b1b;}
section.content {z-index: 1;}
section.process {z-index: 2;}
section.contact {z-index: 3;}
footer {z-index: 4;}